In [1]:
import yfinance as yf

tsla = yf.Ticker("TSLA")

info = tsla.info

print('회사명:', info['longName'])
print('업종:', info['industry'])
print('사업 설명:', info['longBusinessSummary'])
print('현재 가격:', info['currentPrice'])

회사명: Tesla, Inc.
업종: Auto Manufacturers
사업 설명: Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, body shop and parts, supercharging, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners; and provision of service and repairs to its energy product customers, including under warranty, as well as various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.
현재 가격: 338.23

In [2]:
tsla_df = tsla.history(interval='1d', period='5d', auto_adjust=False)
tsla_df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2024-11-20 00:00:00-05:00,345.000000,346.600006,334.299988,342.029999,342.029999,66340700,0.0,0.0
2024-11-21 00:00:00-05:00,343.809998,347.989990,335.279999,339.640015,339.640015,58011700,0.0,0.0
2024-11-22 00:00:00-05:00,341.089996,361.529999,337.700012,352.559998,352.559998,89140700,0.0,0.0
2024-11-25 00:00:00-05:00,360.140015,361.929993,338.200012,338.589996,338.589996,95890900,0.0,0.0
2024-11-26 00:00:00-05:00,341.000000,346.959991,335.660004,338.230011,338.230011,62089200,0.0,0.0

In [3]:
news = tsla.news

for item in news:
    print(item['title'], "-", item['publisher'], "-", item['link'])

Trump is set to end the EV tax credit. Here are 7 electric cars to buy before it goes away - Quartz - https://finance.yahoo.com/m/be8c2e45-2b0f-3f5d-986d-0385fdc1fb42/trump-is-set-to-end-the-ev.html
Lidar maker Hesai sees device becoming as common as airbags - Bloomberg - https://finance.yahoo.com/news/lidar-maker-hesai-sees-technology-023504385.html
After fast start, electric cars need a recharge as range limits, cost leave some drivers skeptical - Associated Press Finance - https://finance.yahoo.com/news/fast-start-electric-cars-recharge-065307222.html
Zacks Investment Ideas feature highlights: Nvidia's, Coinbase, Tesla and Astera Labs - Zacks - https://finance.yahoo.com/news/zacks-investment-ideas-feature-highlights-062200807.html
Rivian Catalysts Fluctuate the Stock Price Amid Expansion and Strategic Moves - GuruFocus.com - https://finance.yahoo.com/news/rivian-catalysts-fluctuate-stock-price-040918501.html
Political fever over EVs has Tesla expert buzzing with confidence - TheStreet - https://finance.yahoo.com/m/8f0f51e7-67c0-34d0-ab8c-b299ba931c8b/political-fever-over-evs-has.html
How California Could Exclude Tesla From EV Credits—and Why It Won’t Work - Barrons.com - https://finance.yahoo.com/m/60ccbcc6-79cd-348a-b3e0-0b4a321e9645/how-california-could-exclude.html
2025 Could Be Horrendous for Car Sales. It’s a Huge Test for EVs. - Barrons.com - https://finance.yahoo.com/m/a5404248-dad7-3f77-8206-6ec483f49011/2025-could-be-horrendous-for.html